[submodule "sbmpo-ros2"]
	path = sbmpo-ros2
	url = git@github.com:JTylerBoylan/sbmpo-ros2
	branch = main
[submodule "starq-ros2"]
	path = starq-ros2
	url = git@github.com:FAMU-FSU-STRIDe/starq-ros2
	branch = main
[submodule "isaac_ros_common"]
	path = isaac_ros_common
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_common
[submodule "isaac_ros_nvblox"]
	path = isaac_ros_nvblox
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_nvblox
[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
	branch = ros2-development
[submodule "isaac_ros_visual_slam"]
	path = isaac_ros_visual_slam
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_visual_slam.git
[submodule "isaac_ros_nitros"]
	path = isaac_ros_nitros
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_nitros
